@model IEnumerable<topup_project.Models.User>

@{
    ViewBag.Title = "Index";

}

<h2>Users</h2>


<table class="table" style="background-color:skyblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
           
            @Html.DisplayNameFor(model => model.Name)
        </th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button style="background-color:hotpink">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>
            </td>
        </tr>
    }

</table>
