@model IEnumerable<topup_project.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    <button style="background-color:greenyellow">@Html.ActionLink("Create New", "Create")</button>
</p>
<table class="table" style="background-color:skyblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button style="background-color:yellow">@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </button>
            <button style="background-color:springgreen">@Html.ActionLink("Details", "Details", new { id = item.Id }) </button>
            <button style="background-color:hotpink">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button>


        </td>
    </tr>
}

</table>
